	<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/welcome.css">
</head>

<body>
	<div class="container">
		<div class="left">
			<img class="left_pic" src="../static/images/welcome_title.png" alt="">
			<!-- 跳转链接，跳转到各个功能 -->
			<a class="a1" href="/quiz">猿力家族 X 四大名著</a><br>
			<a class="a2" href="/#">猿力空间</a><br>
			<a class="a2" href="/#">任务本</a><br>
		</div>
		<div class="right">
			<!--显示日期与时间-->
			<h3>{{t_time}}</h3>
			<img class="right_pic" src="../static/images/welcome_yuan.png" alt="">
			<!-- 背景音乐 -->
			<audio src="../static/audio/music.mp3" controls></audio>
		</div>
		

	
	</div>
	

</body>

</html>